@font-face {
    src: url('font/Typecast.ttf');
}
@font-face {
    src: url('font/Icon.ttf');
}

.anchor {
    -fx-background-image: url('images/sea.png');
}

.icon {
    -fx-font-family: 'Pixel Icons Compilation';
    -fx-text-fill: rgb(256, 256, 256);
}

.menu_btn {
    -fx-font-size: 25;
    -fx-font-family: 'typecast';
    -fx-background-color: rgb(10, 10, 10);
    -fx-text-fill: rgb(256, 256, 256);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}

.menu_btn:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}