@font-face {
    src: url('font/Typecast.ttf');
}
@font-face {
    src: url('font/Icon.ttf');
}

.anchor {
    -fx-background-image: url('images/sea1.png');
}

.game_anchor {
    -fx-background-image: url('images/sea.png');
}

.icon {
    -fx-font-family: 'Pixel Icons Compilation';
}

.activation_icon {
    -fx-font-size: 50;
    -fx-font-family: 'Pixel Icons Compilation';
}

.white_text {
    -fx-text-fill: rgb(256, 256, 256);
}

.head {
    -fx-font-family: 'typecast';
    -fx-font-size: 60;
}

.board {
    -fx-background-image: url('images/water.jpg');
}

.menu_btn {
    -fx-font-size: 25;
    -fx-font-family: 'typecast';
    -fx-background-color: rgb(10, 10, 10);
    -fx-text-fill: rgb(256, 256, 256);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}

.player_name {
    -fx-font-size: 50;
    -fx-font-family: 'typecast';
}

.menu_btn:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.active_icon {
    -fx-text-fill: green;
}

.deactive_icon {
    -fx-text-fill: red;
}

.accept_btn {
    -fx-font-size: 25;
    -fx-text-fill: green;
    -fx-background-color: rgb(10, 10, 10);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}

.accept_btn:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}